@charset "utf-8";

$color1_bg: #3e8fc3;
$horizontal_margin: 30px;

// Layout & General setup
html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

h2.main-title {
  font-size: 3rem;
  font-weight: 800;
}

.main-title {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.main-title .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.main-title .letter {
  display: inline-block;
  line-height: 1em;
}

// Page sections

.inner-wrapper {
  padding: 70px $horizontal_margin 0 $horizontal_margin;

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

// Navigation

nav {
  top: 0;
  left: 0;
  right: 0;
  color: #fff;

  &.navbar {
    padding-top: 25px;
    position: absolute;
    z-index: 1;
  }

  a {
    color: #fff;
  }

  .inner-wrapper {
    padding: 0 $horizontal_margin;
  }
}

// Animation-related
.intro-background {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.intro-content {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  .container, .row {
    height: 100%;
  }

  .inner-content {
    height: 100%;
  }
}

// Intro
section.intro {
  background-color: $color1_bg;
  position: relative;
  height: 100%;
  width: 100%;

  .intro-column {
    align-self: flex-end;
  }

  .intro-text {
    padding: 0 $horizontal_margin;
    padding-bottom: 120px;

    .subtitle, .subtitle-description {
      opacity: 0;
    }
  }
}

// About
section.about {

}

// Round icon component
.round-icon-component {
  clear: both;
  display: flex;
  align-items: flex-start;

  .icon {
    background-color: red;
    border-radius: 50%;
    flex: 0 0 50px;
    float: left;
    height: 50px;
    width: 50px;
    overflow: hidden;
  }

  .text {
    padding-left: 12px;
    .title {
      font-weight: 400;
      padding-bottom: 2px;
    }

    .description {
      opacity: 0.8;
    }
  }

  &[data-name="years-of-experience"] {
    .icon {
      color: #fff;
      font-weight: bold;
      font-size: 28px;
      text-align: center;

      .first-letter {
        display: inline-block;
        padding-top: 3px;
        position: relative;
        transform: rotate(-5deg) translate(0px, 4px);
      }

      .second-letter {
        display: inline-block;
        padding-top: 3px;
        position: relative;
        transform: rotate(2deg) translate(-1px, 2px);
      }
    }
  }

  &[data-name="startup-founder"] {
    .icon {
      position: relative;
      .brick {
        background-color: #fff;
        border-radius: 2px;
        bottom: 0;
        height: 13px;
        left: 0;
        position: absolute;
        width: 19px;
      }

      .brick1 {
        transform: translateX(-1px) translateY(-9px);
      }

      .brick2 {
        transform: translateX(21px) translateY(-9px);
      }

      .brick3 {
        transform: translateX(9px) translateY(-25px);
      }

      .brick4 {
        transform: translateX(-13px) translateY(-55px);
      }

      .brick5 {
        transform: translateX(31px) translateY(-55px);
      }

      .brick6 {
        transform: translateX(43px) translateY(-55px);
        width: 10px;
      }
    }
  }
}
